{{! vim: set ft=html: }}

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        {{#each ctx}}
        <p>{{id}} {{lang}} {{title}} {{location}} {{text}} {{event_date}}</p>
        {{/each}}
        <br>
        <p>add</p>
        <form action="events/add" method="post">
            <input type="text", id="lang", name="lang">
            <input type="text", id="title", name="title">
            <input type="text", id="location", name="location">
            <input type="text", id="text", name="text">
            <input type="text", id="event_date", name="event_date">
            <input type="submit", value="Submit">
        </form>

        <p>del</p>
        <form action="events/del" method="post">
            <input type="number", id="id", name="id">
            <input type="submit", value="Submit">
        </form>


        <p>upd</p>
        <form action="events/upd" method="post">
            <input type="number", id="id", name="id">
            <input type="text", id="lang", name="lang">
            <input type="text", id="title", name="title">
            <input type="text", id="location", name="location">
            <input type="text", id="text", name="text">
            <input type="text", id="event_date", name="event_date">
            <input type="submit", value="Submit">
        </form>

    </body>
    </head>
</html>
