{{! vim: set ft=html: }}

<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-md p-3" style="">
            <h2 style="font-size: 24px; font-weight: bold">
                Admin Panel
            </h2>
            </div>

            <div class="container-md d-flex gap-4" style="">
            <!-- clubs list -->
            <div class="p-3" style="flex: 1;">
                <h1 style="font-size: 28px;">Important</h1>
                
                <div class="vstack gap-3 mt-4">
                {{#each ctx}}
                <div class="bg-light border rounded-3 p-2">
                    <small>ID: {{id}} | LANG: {{lang}}</small>
                    <h3 class="my-2" style="font-size: 18px;">{{name}}</h3>
                    <p class="mb-2">{{meeting}}</p>
                    <p class="mb-2">{{link}}</p>
                    <p class="mt-2 mb-0">Sponsor: {{sponsor}}</p>
                    <form action="clubs/del" method="post">
                        <div class="d-flex mt-3">
                        <input type="number" class="form-control form-control-sm" id="id" name="id" value = {{id}} style="display: none">
                        </div>
                        <input type="submit" value="Delete">
                    </form>
                </div>
                {{/each}}
                </div>
            </div>

            <!-- clubs actions -->
            <div class="p-3" style="flex: 1;">
                <h1 style="font-size: 28px;">Clubs Actions</h1>

                <hr/>

                <div class="my-4">
                <h2 style="font-size: 20px;">Add Club</h2>
                <form action="clubs/add" method="post">
                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">Lang</p> 
                        <label for="lang" class="form-label"><small>'en' for English, 'es' for Spanish</small></label>
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="text" class="form-control form-control-sm" id="lang" name="lang">
                    </div>
                    </div>

                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">Name</p> 
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="text" class="form-control form-control-sm" id="name" name="name">
                    </div>
                    </div>

                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">Meeting</p> 
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="text" class="form-control form-control-sm" id="meeting" name="meeting">
                    </div>
                    </div>

                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">Link</p> 
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="text" class="form-control form-control-sm" id="link" name="link">
                    </div>
                    </div>

                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">Sponsor</p> 
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="text" class="form-control form-control-sm" id="sponsor" name="sponsor">
                    </div>
                    </div>
                    
                    <input type="submit" value="Submit">
                </form>
                </div>

                <div class="my-4">
                <h2 style="font-size: 20px;">Update Club</h2>
                <form action="anouncements/upd" method="post">
                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">ID of club to update</p> 
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="number" class="form-control form-control-sm" id="id" name="id">
                    </div>
                    </div>

                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">Lang</p> 
                        <label for="lang" class="form-label"><small>'en' for English, 'es' for Spanish</small></label>
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="text" class="form-control form-control-sm" id="lang" name="lang">
                    </div>
                    </div>

                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">Name</p> 
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="text" class="form-control form-control-sm" id="name" name="name">
                    </div>
                    </div>

                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">Meeting</p> 
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="text" class="form-control form-control-sm" id="meeting" name="meeting">
                    </div>
                    </div>

                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">Link</p> 
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="text" class="form-control form-control-sm" id="link" name="link">
                    </div>
                    </div>

                    <div class="d-flex mt-3">
                    <div style="flex: 1; justify-content: center;">
                        <p class="my-0">Sponsor</p> 
                    </div>
                    <div style="flex: 1; align: center;">
                        <input type="text" class="form-control form-control-sm" id="sponsor" name="sponsor">
                    </div>
                    </div>

                    <input type="submit", value="Submit">
                </form>
                </div>

                <hr/>
            </div>
        </div>
    </body>
</html>